# Python Basics

In [2]:
# First Class of Python

2+3

5

In [7]:
print('Hello')

Hello

In [6]:
a = 2+3
a

5

In [8]:
print(a)

5

In [9]:
5-4

1

In [10]:
4-5

-1

In [11]:
6*7

42

In [12]:
10/5

2.0

In [13]:
7/3

2.3333333333333335

In [14]:
7//3

2

In [15]:
13/5

2.6

In [16]:
13//5

2

In [17]:
13%5

3

In [22]:
2**5

32

In [23]:
2^5

7

In [24]:
10^3

9

In [25]:
3^4

7

In [26]:
12^3

15

In [27]:
3^10

9

In [28]:
10^2

8

In [29]:
100^2

102

In [31]:
96^10

106

In [20]:
64**(1/2)

8.0

In [25]:
64**0.5

8.0

In [32]:
2+6*6-8

30

In [33]:
(2+6)*6-8

40

In [28]:
# Variables

UsageError: Line magic function `%a` not found.

In [39]:
12 = 5

SyntaxError: can't assign to literal (<ipython-input-39-7d7e98b1012e>, line 1)

In [35]:
1a = 7

SyntaxError: invalid syntax (<ipython-input-35-fef70cc47db2>, line 1)

In [36]:
$a = 8

SyntaxError: invalid syntax (<ipython-input-36-b4c5eb8191df>, line 1)

In [42]:
_a = 3

_a

3

In [44]:
_1a = 5

_1a

5

In [3]:
a_12 = 67

In [45]:
c_6473tbnllkn@@---^^^ = 9
c_6473tbnllkn@@---^^^

SyntaxError: invalid syntax (<ipython-input-45-268e27b269c5>, line 1)

In [46]:
c_6473tbnllkn---^^^ = 9
c_6473tbnllkn---^^^

SyntaxError: invalid syntax (<ipython-input-46-02059fbc6b96>, line 1)

In [47]:
c_6473tbnllkn--- = 9
c_6473tbnllkn---

SyntaxError: invalid syntax (<ipython-input-47-5105d684945d>, line 1)

In [48]:
c_6473tbnllkn = 9
c_6473tbnllkn

9

In [49]:
c_6473tbnllkn@@---^^^b = 9
c_6473tbnllkn@@---^^^b

SyntaxError: invalid syntax (<ipython-input-49-632daae154ee>, line 1)

In [10]:
#keywords

import keyword
print(keyword.kwlist)
print("\nTotal number of Keywords in Python:", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Total number of Keywords in Python: 33

In [54]:
import keyword
keyword.kwlist
print("Total number of Keywords in Python:", len(keyword.kwlist))

Total number of Keywords in Python: 33

In [9]:
import keyword
print(keyword.kwlist)

print("\n 123")

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

 123

In [52]:
lambda = 5

SyntaxError: invalid syntax (<ipython-input-52-04cb826daf90>, line 1)

In [41]:
# Identifiers

_a = 10

In [42]:
_a

10

In [53]:
#multiline comments

#cqkhvvwjl
#cbj wljf
#v j lkf p

""" This is a 
multiline 
comment"""

' This is a \nmultiline \ncomment'

In [61]:
# Identation


# if { fjkblwrn;vnwekn
#   else{jlcblbvflbe}}


for i in range(10):
    print(i)
    print(50)
    
print(100)

0
50
1
50
2
50
3
50
4
50
5
50
6
50
7
50
8
50
9
50
100

In [62]:
for i in range(4,9):
    print(i+0.5)
    print(i)

4.5
4
5.5
5
6.5
6
7.5
7
8.5
8

In [63]:
for i in range(5,9):print(i-0.5); print(i)

4.5
5
5.5
6
6.5
7
7.5
8

In [11]:
# Python statements

a = 1 # single line python statement

a

1

In [64]:
# multi line statements

b = (1+2+3+
4+5+
6+7
+8+9)

c = 1+2+3+\
4+5+\
6+7+\
8+9+10


print(b)
print(c)

45
55

In [68]:
a= 10; b=20; c=30

print([a,b,c])

[10, 20, 30]

In [69]:
a = 10
b= 5.5
c= "DA"

print(a,b,c)

10 5.5 DA

In [70]:
a,b,c = 20, 7.5, "DS"

print(a,b,c)

20 7.5 DS

In [71]:
x = 3

print(id(x))

1544842368

In [72]:
y = 3

print(id(y))

1544842368

In [73]:
z = 2
print(id(z))

1544842336

In [78]:
# Data Types

a = 5

b = 2.5

print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [82]:
isinstance(a,int)

True

In [3]:
b = 2+5j

print(type(b))

<class 'complex'>

In [84]:
isinstance(b,complex)

True

In [85]:
p =

SyntaxError: invalid syntax (<ipython-input-85-07b6ea172e0c>, line 1)

In [90]:
p

NameError: name 'p' is not defined

In [89]:
a = 10
a

10

In [52]:
a = True

print(type(a))

<class 'bool'>

In [53]:
a

True

In [91]:
# Strings

s = "This is Data Anlytics Course"

In [92]:
s[0]

'T'

In [93]:
s[-1]

'e'

In [96]:
s[5:15]

'is Data An'

In [1]:
# Data Structures
# 1. Lists

# ordered sequence- indexable
# square brackets
# mutable


a = [1,2,3,4]

b = [1,2.2,"DS"]

c = [1,2,[3,4],["DS",5.6]]

d = [1,2,[3,4],["DS",5.6], ("DA","ML")]

print(type(a), type(b), type(c))

<class 'list'> <class 'list'> <class 'list'>

In [2]:
a[2], b[1], c[2], c[2][1],d[4][0]

(3, 2.2, [3, 4], 4, 'DA')

In [3]:
a[2] = 5

a

[1, 2, 5, 4]

In [4]:
a[4] = 6

IndexError: list assignment index out of range

In [5]:
# 2. Tuples

# ordered sequence- indexable
# parenthesis ()
# immutable

t = (1, 2.2, "DS")
t1 = (1,2,3)
t2 = ("DA","DS","ML")
t3 = (1,2,("DS","ML"),[4.5,6])

In [6]:
t[1]

2.2

In [8]:
t[2] = "DA"

TypeError: 'tuple' object does not support item assignment

In [10]:
t1[2], t2[1], t3[2], t3[3][0]

(3, 'DS', ('DS', 'ML'), 4.5)

In [13]:
t4 = (1,2,("DS","ML"),(4.5,6),[7,8])

t4[4][1]

8

In [14]:
t4[4] = [9,10]

TypeError: 'tuple' object does not support item assignment

In [15]:
t4[4][0]=9
t4[4][1]=10

t4

(1, 2, ('DS', 'ML'), (4.5, 6), [9, 10])

In [16]:
d = [1,2,[3,4],["DS",5.6], ("DA","ML")]

In [17]:
d[4][1] = "Data"

TypeError: 'tuple' object does not support item assignment

In [18]:
d[4] = ("Data","Machine")

d

[1, 2, [3, 4], ['DS', 5.6], ('Data', 'Machine')]

In [19]:
# 3. Set

# unordered - unindexable
# {}
# saves only unnique vales, if repetions in input will save only one instance of the repititve element


a = {10,20,40,50}

In [20]:
print(type(a))

<class 'set'>

In [21]:
b = {10,20,40,50, 15, 25, 10, 20}

print(b)

{40, 10, 15, 50, 20, 25}

In [94]:
# 4. Dictionary

# unordered sequence - non indexable
# {}
# Data is saved in Key- Value pair
# Values can be access through keys
# keys should be unique - to avoid data loss

d = {'a':'apple','b':"banana", 'c': 'chickoo'}

In [95]:
d['a']

'apple'

In [96]:
d['apple']

KeyError: 'apple'

In [1]:
e = {'a':'apple','b':"banana", 'c': 'chickoo', 'a':'mango'}

In [3]:
e['a']

'mango'

In [4]:
f = {'a':'apple','b':"banana", 'c': 'chickoo', 'a':'mango', 'a': 'orange'}

In [101]:
f['a']

'orange'

In [5]:
print(f)

{'a': 'orange', 'b': 'banana', 'c': 'chickoo'}

In [1]:
# conversion of data types 

# int -> float, string
# float -> string, int
# string -> int, float

# how to take input  from user
# output formatting

# types of operators and their details

In [11]:
a = 5
print(a)

5

In [12]:
float(a)

5.0

In [13]:
type(a)

int

In [14]:
str(a)

'5'

In [15]:
b = 6.2
print(b)

6.2

In [16]:
type(b)

float

In [17]:
int(b)

6

In [18]:
str(b)

'6.2'

In [19]:
c = 'abc'
print(c)

abc

In [20]:
int(c)

ValueError: invalid literal for int() with base 10: 'abc'

In [21]:
d = '123'
print(d)

123

In [22]:
int(d)

123

In [23]:
float(d)

123.0

In [24]:
float(d)

123.0

In [25]:
user = 'Satish'
lines = 100

print("Congratulations " + user + "! You just wrote" + " " + str(lines) + " " + "lines of Code")

Congratulations Satish! You just wrote 100 lines of Code

In [26]:
print("congratulations",user,"you just wrote",lines,"lines of code")

congratulations Satish you just wrote 100 lines of code

In [29]:
a= [1,2,3,4,1,2]

type(a)

list

In [30]:
S = set(a)
print(S)
print(type(S))

{1, 2, 3, 4}
<class 'set'>

In [31]:
t = tuple(a)
print(t)
print(type(t))

(1, 2, 3, 4, 1, 2)
<class 'tuple'>

In [32]:
t2 = ()

type(t2)

tuple

In [34]:
s1 = "Hello"

list(s1)

['H', 'e', 'l', 'l', 'o']

In [5]:
# taking input from user for addtion of two numbers

num1 = int(input("Enter an integer:"))
num2 = int(input("Enter an integer:"))

result = num1 + num2

print(result)

Enter an integer: 1.2

ValueError: invalid literal for int() with base 10: '1.2'

In [36]:
num1 = float(input("Enter an integer:"))
num2 = float(input("Enter an integer:"))

result = num1 + num2

print(result)

Enter an integer:10.2
Enter an integer:13.6
23.799999999999997

In [ ]:
num1 = float(input("Enter an integer:"))
num2 = float(input("Enter an integer:"))

result = num1/num2

print(result)

In [40]:

num1 = int(input("Enter an integer:"))
num2 = int(input("Enter an integer:"))

result = num1/num2

print(result)

Enter an integer:15
Enter an integer:6
2.5

In [42]:
#Output formatting

print("Hello World")

Hello World

In [43]:
a = 5
b= 10.5

print(a,b)

print("The value of a is", a)
print("The value of b is", b)
print("The value of a and b are", a, "and", b)

print("The value of a and b are "+ str(a)+ " and "+str(b))

5 10.5
The value of a is 5
The value of b is 10.5
The value of a and b are 5 and 10.5
The value of a and b are 5 and 10.5

In [44]:
a = 5
b = 10

print("The value of a is {} and b is {}".format(a,b))
print("The value of a is {0} and b is {1}".format(a,b))
print("The value of a is {1} and b is {0}".format(a,b))

The value of a is 5 and b is 10
The value of a is 5 and b is 10
The value of a is 10 and b is 5

In [45]:
a = 5
b = 10

print("The value of a is [] and b is []".format(a,b))
print("The value of a is {0} and b is {1}".format(a,b))
print("The value of a is {1} and b is {0}".format(a,b))

The value of a is [] and b is []
The value of a is 5 and b is 10
The value of a is 10 and b is 5

In [46]:
print("Hello {name}, Good {greeting}".format(name = "Satish", greeting = "Morning"))

Hello Satish, Good Morning

In [8]:
# operators

# 1) Arithmatic Operators -> +,-,*,/,%, //, **
# 2) comparison operators -> >, <,>=, <= , == , != 
# 3) logical Operators -> and, or ,not
# 4) Assignment Operator -> =, +=, -=, *= , /=, **= 
# 5) Bitwise Operators -> & (and), | (or), ~(not), bitwise XOR,bitwise left shit, bitwise right shift


# Binary of 10 =  2^3+2^2+2^1+2^0
#  14              1   1   1   0
#  15              1   1  1   1


# 6) Identitiy Operator -> is, is not

# 7) Membership Operator -> in, not in

In [51]:
a = [1,6,3,4,5,2,10,9,8,7]

j = 0
for i in a:
    if i < 6:
        print(i)
        j += 1
        
    else:
        j+=1
        print(j)

1
2
3
4
5
2
7
8
9
10

In [ ]:
# Control flow statement:  

# 1) if- else, if- elif- else

# If statements:
 # Syntax: 
     #if test expression:
        #statement(s)
        
# If - else statement:
# Syntax:
    #if test expression:
        #statement(s)
        
    #else:
           #statement(s)
        
# If -elif- else statement:
# Syntax:
    #if test expression:
        #statement(s)
        
    #elif test expression:
         #statement(s)
        
    #else:
           #statement(s)

In [55]:
num = float(input("Enter an integer:"))

if num >10:
    print("Positive Number")
    
elif num == 0:
    print("Neither Negative nor Positive")
    
else:
    print("Negative Number")

Enter an integer:0
Neither Negative nor Positive

In [55]:
num = float(input("Enter an integer:"))

if num >0:
    print("Positive Number")
    
elif num == 0:
    print("Neither Negative nor Positive")
    
else:
    print("Negative Number")

Enter an integer:0
Neither Negative nor Positive

In [31]:
# 2) While loop

# Syntax:
#    while text_expression:
#          Body of while


#important: index increment should always be given with while loop to stop the loop at required position- 
#else it will go into infinite loop

In [59]:
# write a program to check if a number is prime or not and what are its factors


num = int(input("Enter an integer:"))

isdivisible = False;

i = 2;

while i < num:
    if num % i == 0:
        isdivisible = True
        print("{} is divisbile by {}".format(num,i))
    i = i+1;
        
if isdivisible == True:
    print("{} is not a prime number".format(num))
    
else:
    print("{} is a prime number".format(num)

Enter an integer:31
31 is a prime number

In [59]:
# write a program to check if a number is prime or not and what are its factors


num = int(input("Enter an integer:"))

isdivisible = False;

i = 2;

while i < num:
    if num % i == 0:
        isdivisible = True
        print("{} is divisbile by {}".format(num,i))
    i = i+1;
        
if isdivisible == True:
    print("{} is not a prime number".format(num))
    
else:
    print("{} is a prime number".format(num)

Enter an integer:31
31 is a prime number

In [1]:
# 3) For loop;

# for- else loop

# break statement

# continue statement

In [2]:
# 3) For Loop - helps us in tranversale( to iterate over a data sequence)

# Syntax:

# for ele in sequence:
#       body of for



# we can use else with for as well, but it is optional

# break statements effect on for-else loop

In [60]:
num = [1,2,3]
j = 0
for i in num:
    print(i)
    j+= i
else:
    print(j)
    print("No number left")

1
2
3
No number left

In [4]:
num = [1,2,3]

for i in num:
    print(i)
    if i % 2 ==0:
        break
    
else:
    print("No number left")

1
2

In [10]:
# To display prime numbers within an interval

# let interval be between 10 and 50, both are inclusive

num1 = 10
num2 = 50
print("Prime numbers between {0} and {1} are:".format(num1,num2))

for i in range(num1, num2 +1):
    print("i value {}".format(i))
    if i > 1:
        isdivisible = False;
        for j in range(2,i):
            print(" J IS {}".format(j))
            if i % j == 0:
                isdivisible = True;
                print("NOT PRIME IS {} divided by {}".format(i,j))
                
        if not isdivisible:
            print("PRIME IS {}".format(i))

Prime numbers between 10 and 50 are:
i value 10
 J IS 2
NOT PRIME IS 10 divided by 2
 J IS 3
 J IS 4
 J IS 5
NOT PRIME IS 10 divided by 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
i value 11
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
PRIME IS 11
i value 12
 J IS 2
NOT PRIME IS 12 divided by 2
 J IS 3
NOT PRIME IS 12 divided by 3
 J IS 4
NOT PRIME IS 12 divided by 4
 J IS 5
 J IS 6
NOT PRIME IS 12 divided by 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
i value 13
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
PRIME IS 13
i value 14
 J IS 2
NOT PRIME IS 14 divided by 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
NOT PRIME IS 14 divided by 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
i value 15
 J IS 2
 J IS 3
NOT PRIME IS 15 divided by 3
 J IS 4
 J IS 5
NOT PRIME IS 15 divided by 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
i value 16
 J IS 2
NOT PRIME IS 16 divided by 2
 J IS 3
 J IS 4
NOT PRIME IS 16 divided by 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
NOT PRIME IS 16 divided by 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
i value 17
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
PRIME IS 17
i value 18
 J IS 2
NOT PRIME IS 18 divided by 2
 J IS 3
NOT PRIME IS 18 divided by 3
 J IS 4
 J IS 5
 J IS 6
NOT PRIME IS 18 divided by 6
 J IS 7
 J IS 8
 J IS 9
NOT PRIME IS 18 divided by 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
i value 19
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
PRIME IS 19
i value 20
 J IS 2
NOT PRIME IS 20 divided by 2
 J IS 3
 J IS 4
NOT PRIME IS 20 divided by 4
 J IS 5
NOT PRIME IS 20 divided by 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
NOT PRIME IS 20 divided by 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
i value 21
 J IS 2
 J IS 3
NOT PRIME IS 21 divided by 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
NOT PRIME IS 21 divided by 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
i value 22
 J IS 2
NOT PRIME IS 22 divided by 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
NOT PRIME IS 22 divided by 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
i value 23
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
PRIME IS 23
i value 24
 J IS 2
NOT PRIME IS 24 divided by 2
 J IS 3
NOT PRIME IS 24 divided by 3
 J IS 4
NOT PRIME IS 24 divided by 4
 J IS 5
 J IS 6
NOT PRIME IS 24 divided by 6
 J IS 7
 J IS 8
NOT PRIME IS 24 divided by 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
NOT PRIME IS 24 divided by 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
i value 25
 J IS 2
 J IS 3
 J IS 4
 J IS 5
NOT PRIME IS 25 divided by 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
i value 26
 J IS 2
NOT PRIME IS 26 divided by 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
NOT PRIME IS 26 divided by 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
i value 27
 J IS 2
 J IS 3
NOT PRIME IS 27 divided by 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
NOT PRIME IS 27 divided by 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
i value 28
 J IS 2
NOT PRIME IS 28 divided by 2
 J IS 3
 J IS 4
NOT PRIME IS 28 divided by 4
 J IS 5
 J IS 6
 J IS 7
NOT PRIME IS 28 divided by 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
NOT PRIME IS 28 divided by 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
i value 29
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
PRIME IS 29
i value 30
 J IS 2
NOT PRIME IS 30 divided by 2
 J IS 3
NOT PRIME IS 30 divided by 3
 J IS 4
 J IS 5
NOT PRIME IS 30 divided by 5
 J IS 6
NOT PRIME IS 30 divided by 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
NOT PRIME IS 30 divided by 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
NOT PRIME IS 30 divided by 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
i value 31
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
PRIME IS 31
i value 32
 J IS 2
NOT PRIME IS 32 divided by 2
 J IS 3
 J IS 4
NOT PRIME IS 32 divided by 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
NOT PRIME IS 32 divided by 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
NOT PRIME IS 32 divided by 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
i value 33
 J IS 2
 J IS 3
NOT PRIME IS 33 divided by 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
NOT PRIME IS 33 divided by 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
i value 34
 J IS 2
NOT PRIME IS 34 divided by 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
NOT PRIME IS 34 divided by 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
i value 35
 J IS 2
 J IS 3
 J IS 4
 J IS 5
NOT PRIME IS 35 divided by 5
 J IS 6
 J IS 7
NOT PRIME IS 35 divided by 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
i value 36
 J IS 2
NOT PRIME IS 36 divided by 2
 J IS 3
NOT PRIME IS 36 divided by 3
 J IS 4
NOT PRIME IS 36 divided by 4
 J IS 5
 J IS 6
NOT PRIME IS 36 divided by 6
 J IS 7
 J IS 8
 J IS 9
NOT PRIME IS 36 divided by 9
 J IS 10
 J IS 11
 J IS 12
NOT PRIME IS 36 divided by 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
NOT PRIME IS 36 divided by 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
i value 37
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
PRIME IS 37
i value 38
 J IS 2
NOT PRIME IS 38 divided by 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
NOT PRIME IS 38 divided by 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
i value 39
 J IS 2
 J IS 3
NOT PRIME IS 39 divided by 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
NOT PRIME IS 39 divided by 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
i value 40
 J IS 2
NOT PRIME IS 40 divided by 2
 J IS 3
 J IS 4
NOT PRIME IS 40 divided by 4
 J IS 5
NOT PRIME IS 40 divided by 5
 J IS 6
 J IS 7
 J IS 8
NOT PRIME IS 40 divided by 8
 J IS 9
 J IS 10
NOT PRIME IS 40 divided by 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
NOT PRIME IS 40 divided by 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
i value 41
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
PRIME IS 41
i value 42
 J IS 2
NOT PRIME IS 42 divided by 2
 J IS 3
NOT PRIME IS 42 divided by 3
 J IS 4
 J IS 5
 J IS 6
NOT PRIME IS 42 divided by 6
 J IS 7
NOT PRIME IS 42 divided by 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
NOT PRIME IS 42 divided by 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
NOT PRIME IS 42 divided by 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
 J IS 41
i value 43
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
 J IS 41
 J IS 42
PRIME IS 43
i value 44
 J IS 2
NOT PRIME IS 44 divided by 2
 J IS 3
 J IS 4
NOT PRIME IS 44 divided by 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
NOT PRIME IS 44 divided by 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
NOT PRIME IS 44 divided by 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
 J IS 41
 J IS 42
 J IS 43
i value 45
 J IS 2
 J IS 3
NOT PRIME IS 45 divided by 3
 J IS 4
 J IS 5
NOT PRIME IS 45 divided by 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
NOT PRIME IS 45 divided by 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
NOT PRIME IS 45 divided by 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
 J IS 41
 J IS 42
 J IS 43
 J IS 44
i value 46
 J IS 2
NOT PRIME IS 46 divided by 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
NOT PRIME IS 46 divided by 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
 J IS 41
 J IS 42
 J IS 43
 J IS 44
 J IS 45
i value 47
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
 J IS 41
 J IS 42
 J IS 43
 J IS 44
 J IS 45
 J IS 46
PRIME IS 47
i value 48
 J IS 2
NOT PRIME IS 48 divided by 2
 J IS 3
NOT PRIME IS 48 divided by 3
 J IS 4
NOT PRIME IS 48 divided by 4
 J IS 5
 J IS 6
NOT PRIME IS 48 divided by 6
 J IS 7
 J IS 8
NOT PRIME IS 48 divided by 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
NOT PRIME IS 48 divided by 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
NOT PRIME IS 48 divided by 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
NOT PRIME IS 48 divided by 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
 J IS 41
 J IS 42
 J IS 43
 J IS 44
 J IS 45
 J IS 46
 J IS 47
i value 49
 J IS 2
 J IS 3
 J IS 4
 J IS 5
 J IS 6
 J IS 7
NOT PRIME IS 49 divided by 7
 J IS 8
 J IS 9
 J IS 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
 J IS 41
 J IS 42
 J IS 43
 J IS 44
 J IS 45
 J IS 46
 J IS 47
 J IS 48
i value 50
 J IS 2
NOT PRIME IS 50 divided by 2
 J IS 3
 J IS 4
 J IS 5
NOT PRIME IS 50 divided by 5
 J IS 6
 J IS 7
 J IS 8
 J IS 9
 J IS 10
NOT PRIME IS 50 divided by 10
 J IS 11
 J IS 12
 J IS 13
 J IS 14
 J IS 15
 J IS 16
 J IS 17
 J IS 18
 J IS 19
 J IS 20
 J IS 21
 J IS 22
 J IS 23
 J IS 24
 J IS 25
NOT PRIME IS 50 divided by 25
 J IS 26
 J IS 27
 J IS 28
 J IS 29
 J IS 30
 J IS 31
 J IS 32
 J IS 33
 J IS 34
 J IS 35
 J IS 36
 J IS 37
 J IS 38
 J IS 39
 J IS 40
 J IS 41
 J IS 42
 J IS 43
 J IS 44
 J IS 45
 J IS 46
 J IS 47
 J IS 48
 J IS 49

In [8]:
# Break and Continue

# can alter the flow of a control loop

In [61]:
# continue example

lst = [1,2,3,4,5]

for i in lst:
    if i%2 != 0:
        print(i)

1
3
5

In [1]:
lst = [1,2,3,4,5]

for i in lst:
    if i%2 == 0:
        continue
    else:
        print(i)

1
3
5

In [13]:
lst = [1,2,3,4,5]

for i in lst:
    if i%2 == 0:
        continue
    print(i)
    
else:
    print("list end")

1
3
5
list end

In [1]:
# Lists

# empty list
lst = []

lst1 = [1,2,3,4,5,6]

len(lst1)

6

In [2]:
lst1[6] = 7

lst1

IndexError: list assignment index out of range

In [3]:
# append list

lst1.append(7)

lst1

[1, 2, 3, 4, 5, 6, 7]

In [4]:
lst1.append(8,9,10)

lst1

TypeError: append() takes exactly one argument (3 given)

In [5]:
lst1.append([8,9,10])

lst1

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]

In [10]:
#insert

lst1 = [1,2,3,4,5,6]

lst1.insert(6,8)

In [11]:
lst1

[1, 2, 3, 4, 5, 6, 8]

In [12]:
lst1 = [1,2,3,4,5,6]

lst2 = [7,8,9]

for i in lst2:
    lst1.append(i)
    
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# remove
lst1.remove(7)

lst1

[1, 2, 3, 4, 5, 6, 8, 9]

In [14]:
lst1.remove(8,9)

lst1

TypeError: remove() takes exactly one argument (2 given)

In [15]:

lst1 = [1,2,4,3,2,5]

lst1.remove(2)

In [16]:
lst1

[1, 4, 3, 2, 5]

In [28]:
#extend
lst1 =[1,2,3,4,5,6]
lst2 =[7,8,9]

lst1.extend(lst2)

lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# Delete

lst = ['one', 'two','three','four','five']

del lst[1]

print(lst)

['one', 'three', 'four', 'five']

In [18]:
# pop

a = lst.pop(2)
print(a)
print(lst)

four
['one', 'three', 'five']

In [19]:
lst.pop(2)

print(lst)

['one', 'three']

In [8]:
# reverse

lst = ['one', 'two','three','four','five']

lst.reverse()

print(lst)

['five', 'four', 'three', 'two', 'one']

In [20]:
lst[0]

'one'

In [21]:
# sorted
lst2 = [3,6,2,8,5,8,0,1]

lst3 = sorted(lst2)

print(lst3)
lst2

[0, 1, 2, 3, 5, 6, 8, 8]

[3, 6, 2, 8, 5, 8, 0, 1]

In [37]:
lst4 = sorted(lst2)

print(lst4)

[0, 1, 2, 3, 5, 6, 8, 8]

In [38]:
lst4.reverse()

In [39]:
lst4

[8, 8, 6, 5, 3, 2, 1, 0]

In [40]:
lst5 = sorted(lst2, reverse = True)

print(lst5)

[8, 8, 6, 5, 3, 2, 1, 0]

In [22]:
# sort
lst2.sort()
print(lst2)

[0, 1, 2, 3, 5, 6, 8, 8]

In [23]:
# split
s = "one, two, three, four, five"

slst = s.split(',')

print(slst)

['one', ' two', ' three', ' four', ' five']

In [46]:
slst[-2]

' four'

In [47]:
slst[1:3]

[' two', ' three']

In [14]:
slst[0:5:2]

['one', ' three', ' five']

In [25]:
lst1 =[1,2,3,4,5,6]
lst2 =[7,8,9]


lst3 = lst1 +lst2

print(lst3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
lst1 =[1,2,3,4,5,6]

lst2 = []

for i in lst1:
    i +=1
    lst2.append(i)
    
print(lst2)

[2, 3, 4, 5, 6, 7]

In [19]:
lst1.index(2)

1

In [20]:
num = [1,2,3,4,5,6,1,3,5,3,7]

# frequency of 1 in lst

num.count(3)

3

In [3]:
# list comprehension

square=[]
for i in range(11):
    square.append(i**2)
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [34]:
# list comprehension

sqr = [ i**2 for i in range(10)]
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
lst = [-1,-2,-3,-4,-5]

positive=[]
for i in lst:
    positive.append(i*-1)
    
print(positive)

[1, 2, 3, 4, 5]

In [23]:
positive=[abs(i) for i in lst]
positive

[1, 2, 3, 4, 5]

In [35]:
lst2 = [1,-3,5,7,-8,-2,6]


lst3 = [i for i in lst2 if i >0]
print(lst3)

[1, 5, 7, 6]

In [24]:
list1 = range(11)

list2=[]

for i in list1:
    list2.append((i,i**2))

print(list1)
print(list2)

range(0, 11)
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [36]:
list3 = [(i,i**2) for i in range(11)]

print(list3)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [28]:
list3 = [i for i in range(11)]
list3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
list3 = [(i,i**2) for i in list1]
print(list3)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [30]:
#tuples 

t = ('Data'*4)

print(t)

DataDataDataData

In [31]:
len(t)

16

In [32]:
t[5]

'a'

In [33]:
type(t)

str

In [37]:
t = (('Data',) *4)

print(t)

('Data', 'Data', 'Data', 'Data')

In [38]:
del t

In [39]:
t

NameError: name 't' is not defined

In [40]:
t = (1,2,3,4,58,9,1,2,4,7,5,4)

t.count(1)

2

In [6]:
t.index(58)

4

In [7]:
print(1 in t)

True

In [8]:
1 in t

True

In [9]:
10 in t

False

In [10]:
max(t)

58

In [11]:
min(t)

1

In [12]:
sum(t)

100

In [41]:
#Sets

S = set()

print(S)

set()

In [42]:
s = {1,3}

s.add(2)

print(s)

{1, 2, 3}

In [43]:
s.add(5,6,7)

print(s)

TypeError: add() takes exactly one argument (3 given)

In [44]:
s.update([5,6,7])
print(s)

{1, 2, 3, 5, 6, 7}

In [45]:
s.update([8,9], {10,11,12})

print(s)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12}

In [46]:
a= [12,14]

b = {15,16,17}

s.update(a,b)

print(s)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17}

In [47]:
#delete element from set
# discard function

s.discard(17)

print(s)

{1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16}

In [49]:
s.pop()
print(s)

{3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16}

In [50]:
s.pop()
print(s)

{5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16}

In [51]:
s.clear()

In [52]:
s

set()

In [54]:
# Python Set operations

s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

In [30]:
# Union of sets
# using Bitwise OR(|)
print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7}

In [31]:
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

In [32]:
# Intersection of sets
# using Bitwise AND(&)
print(s1 & s2)

{3, 4, 5}

In [33]:
print(s1.intersection(s2))

{3, 4, 5}

In [34]:
# Set Difference

print(s1-s2)

{1, 2}

In [35]:
print(s2-s1)

{6, 7}

In [36]:
print(s1.difference(s2))

{1, 2}

In [55]:
# symmetric Difference  (^)

print(s1^s2)

{1, 2, 6, 7}

In [56]:
print(s1.symmetric_difference(s2))

{1, 2, 6, 7}

In [57]:
# finding subsets suing 'issubset()' function
s1 = {1,2,3,4,5}
s3 = {1,2}

s3.issubset(s1)

True

In [40]:
s4 = frozenset()

In [41]:
s4

frozenset()

In [42]:
type(s4)

frozenset

In [58]:
# dictonary

dict = {'name':'Amit', 'age':27, 'address': 'Pune'}
dict

{'name': 'Amit', 'age': 27, 'address': 'Pune'}

In [59]:
dict['name'] = 'Akshay'

In [60]:
dict

{'name': 'Akshay', 'age': 27, 'address': 'Pune'}

In [61]:
dict['Degree'] = 'MBA'

In [62]:
dict

{'name': 'Akshay', 'age': 27, 'address': 'Pune', 'Degree': 'MBA'}

In [63]:
dict.pop('Degree')

dict

{'name': 'Akshay', 'age': 27, 'address': 'Pune'}

In [64]:
# for removing arbitary/ random key-value
dict.popitem()

dict

{'name': 'Akshay', 'age': 27}

In [65]:
del dict['name']

dict

{'age': 27}

In [66]:
dict.clear()

dict

{}

In [54]:
del dict

In [55]:
dict

dict

In [67]:
# loops in dictionary

d = {'a':1, 'b':2, 'c':3}

for i in d:
    print(i,d[i]**2)

a 1
b 4
c 9

In [68]:
for i in d.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)

In [69]:
d.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [47]:
t = (i for i in range(10))
t

In [48]:
print(t)

<generator object <genexpr> at 0x000001E4B0316AF0>

In [70]:
# dictionary comprehensions

#print only pairs where the value is greater than 2

d = {'a':1, 'b':2, 'c':3, 'd': 4}

new_d = { k:v for k,v in d.items() if v >2}

print(new_d)

{'c': 3, 'd': 4}

In [72]:
#Assignment
# write a python program to check weather a given string is a palindrome

# palindrome ->  eg. 'madam', 'Nayan', 'naman','radar'




a = 'madam1'
b = 'radar'


if a == a[::-1]:
    print('the input is palindrome')
    
else:
    print('The input is not palindrome')

The input is not palindrome

In [51]:
a[::-1]

'1madam'

In [27]:
# Assignment
# Python Program to sort the words of a string in Alphabatical Order
# Python Program to sort the alphabets of a string in Alphabatical Order

#  str = "Python Program to sort the words of a string in Alphabatical Order"


s = "Python Program to sort the words of a string in Alphabatical Order"

s = s.lower()
print(s)

lst = s.split()

print(lst)

lst.sort()

print(lst)

python program to sort the words of a string in alphabatical order
['python', 'program', 'to', 'sort', 'the', 'words', 'of', 'a', 'string', 'in', 'alphabatical', 'order']
['a', 'alphabatical', 'in', 'of', 'order', 'program', 'python', 'sort', 'string', 'the', 'to', 'words']

In [65]:
# Functions

# 1) In-Built Funtcions
# 2) User - Defined functions

In [66]:
# user-defined fucntions

# syntax

# def function_name(parameter):
#    '''DOC STRING'''
#      Doc string
    
#      Statement(s) - loops,continue, return, operations, break

In [75]:
def print_name(name):
    # This fucntion prints the given input   <--- comment
    
    '''This function prints the given input''' # <---document string
    
    print("Hello" + " " + str(name))
    
    
    
name = 'Amit'  # defining parameter

print_name(name)  # calling function
print_name('Nayan') 

print(print_name.__doc__)

Hello Amit
Hello Nayan
This function prints the given input

In [76]:
print(print_name.__doc__)

This function prints the given input

In [77]:
print(name)

Amit

In [ ]:
# Return statement

# Syntax: 
# return[expression]

In [80]:
# example of return

lst = [1,2,3,4]

def get_sum(lst):
    total = 0  # initialize
    
    for num in lst:
        total = total + num
    print(total)    
    return total+1



S = get_sum(lst)

print(S)

print(total)

10
11

NameError: name 'total' is not defined

In [76]:
# order of execution of python statements

# def function_name():  --------4
    # function body   --------5
    # function body   --------6
    
# statement1      --------- 1

# statement2      ----------2

# function_name() ----------3

# statement3      ----------7

# statement4      ----------8

In [60]:
# program for HCF of two numbers

num1 = 45
num2 = 15

def computeHCF(a,b):
    '''This function givers HCF of two numbers'''
    
    smaller = a if b>a else b    # if esle statement in concise way
    
    for i in range(2,smaller+1):
        if (a%i == 0) and (b%i == 0):
            hcf = i
    
    return hcf
    

print("THE HCF of {} and {} is:{}".format(num1, num2, computeHCF(num1, num2)))

THE HCF of 45 and 15 is:15

#### types of function arguments:

1) Default Arg

2) keyword Arg

3) Arbitrary Arg

In [1]:
# Recursive functions:


# when a fucntion is called within its defination

# Write a python program to print factorial of a given number


def factorial(n):
    m = n
    for i in range(1,n):
        m = m*i
        
    return m

fact = factorial(5)
print(fact)

120

In [4]:
# Write a python program to print factorial of a given number using recursive method

def rec_fact(n):
    
    return 1 if n==1 else (n*rec_fact(n-1))
        
 ###     5*4*3*2*1    
rfact = rec_fact(6)

print(rfact)

720

In [34]:
# Python program to display the fibonacci sequence upto nth term using recursive function

# Normal function method
def fib(n):
    
    series = []
    x, y = 0, 1
    while x < n:
        series.append(x)
        x, y = y, x + y
    return series


for i in range(10):
    print(fib(i))

print(ans)

[]
[0]
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5]
[0, 1, 1, 2, 3, 5, 8]

In [37]:
#recursive method

def fibonacci(num):
    
    return num  if num <=1 else fibonacci(num-1)+ fibonacci(num-2)

###   fibonacci(9)                                     +                fibonacci(8)
###   fibonacci(8)+ fibonacci(7)                             fibonacci(7)+ fibonacci(6)

num = 10

for i in range(num):
    print(fibonacci(i))

0
1
1
2
3
5
8
13
21
34

In [ ]:
# lamba functions- read by own